
#// variables - source jail
SOURCEHOST="freebsd"
SOURCEJAIL="oldplone"
SOURCESNAPSHOTSUFFIX="_MIGRATION_"
SOURCEPLONEVERSION="3"
SOURCEPLONEDIR="/usr/local/Plone"

#// variables - target jail
TARGETHOST="freenas"
TARGETSSHUSER="root"
TARGETSSHPORT="22"
TARGETZFSRECEIVE="zroot/backup"
TARGETJAIL="newplone"
TARGETSNAPSHOTSUFFIX="_MIGRATION_"
TARGETLOCALPACKAGE=""
TARGETZFSROLLBACK="_DEFAULT"
TARGETPLONEVERSION="4"
TARGETPLONEDIR="/usr/local/www/Plone"

